/* src/styles/header.css */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-background-header);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  z-index: 999;
  box-shadow: var(--box-shadow);
}

.header.hide {
  transform: translateY(-100%) !important;
  transition: transform 0.3s ease;
}

.container {
  max-width: var(--max-widht-cont);
  margin: 0 auto;
  padding: 1rem;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  align-content: center;
  justify-content: center;
}
.logo {
  height: 40px;
  object-fit: contain;
}

.nav-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
}

.desktop-nav {
  display: none;
}

.desktop-nav a {
  margin-left: 1.5rem;
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  align-content: center;
}

.desktop-nav a:hover {
  color: var(--color-accent);
}

.btn-nav {
  padding: 0.5rem 1.25rem;
  background-color: var(--color-button);
  color: var(--color-surface) !important;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-nav:hover {
  background-color: var(--color-button-hover);
  color: var(--color-text-button-hover) !important;
}

.theme-toggle {
  background: none;
  border: none;
  color: var(--color-text-primary);
  cursor: pointer;
  transition: color 0.2s ease;
}

.theme-toggle:hover {
  color: var(--color-accent);
}

.mobile-toggle {
  background: none;
  border: none;
  color: var(--color-text-primary);
  display: block;
}

.mobile-nav {
  max-height: 0;
  overflow: hidden;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: max-height 0.3s ease;
}

.mobile-nav.open {
  max-height: 200px;
  padding: 1rem;
  gap: 1rem;
}

.mobile-nav a {
  color: var(--color-text-primary);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
}

.mobile-nav a:hover {
  color: var(--color-accent);
}

@media screen and (width > 768px) {
  .desktop-nav {
    display: flex;
  }

  .mobile-toggle,
  .mobile-nav {
    display: none;
  }
}