
@media screen and (min-width: 768px) {
  .desktop-nav {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }

  .title-main {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .title-main {
    font-size: 1.75rem;
  }
}
