
/* Variables de identidad visual de Gala Inmobiliaria */
:root {
    --color-background: #ffffff;
    --color-foreground: #0A1320; /* Azul muy oscuro institucional */
    --color-accent: #ff6b00; /* Naranja para CTA */
    --color-text-secondary: #5E5E5E; /* Gris oscuro para texto */
    --color-surface: #F1F1F1; /* Gris claro para fondos neutros */
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Merriweather', serif;
    --color-background-header: hsla(215, 52%, 8%, 0.5);
    --color-header: #152131;
    --color-text-primary: #0A1320;
    --color-button: #ff6b00;
    --color-button-hover: #ac4800;
    --color-text-button-hover: #0A1320;
    --box-shadow: 0 2px 10px rgba(150, 150, 150, 0.08);;
  }
  
  .dark {
    --color-background: #0A1320;
    --color-foreground: #F1F1F1;
    --color-accent: #ff6b00;
    --color-text-secondary: #CCCCCC;
    --color-surface: #1A1A1A;
    --color-header: #152131ec;
  }