
/* Variables de identidad visual de Gala Inmobiliaria */
:root {
  /* Fondos */
  --color-background: #ffffff; /* Fondo general blanco */
  --color-surface: #f1f1f1;    /* Superficies suaves tipo tarjetas */
  --color-background-header: rgba(255, 255, 255, 0.85); /* header flotante */
  --color-background-semitransparent: rgba(255, 255, 255, 0.699); /* Color para degradados */

  /* TipografÃ­a */
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;

  /* Colores de texto */
  --color-text-primary: #0A1320; /* Azul oscuro institucional */
  --color-text-secondary: #5E5E5E; /* Gris oscuro complementario */
  --color-text-card: #0A1320;

  /* Marca e interacciÃ³n */
  --color-accent: #ff6b00; /* Naranja marca */
  --color-accent-hover: #d25500;

  /* Botones */
  --color-button: #ff6b00;
  --color-button-hover: #ac4800;
  --color-text-button-hover: #ffffff;

  /* Header y sombra */
  --color-header: #152131;
  --box-shadow: 0 2px 10px rgb(0 0 0 / 23%);;

  /* Medidas */
  --max-widht-cont: 1280px;
}

.dark {
  --color-background: rgb(10, 19, 31);
  --color-background-semitransparent: rgba(10, 19, 31, 0.699); /* Color para degradados */
  --color-surface: #1A1A1A;
  --color-text-primary: #F1F1F1;
  --color-text-secondary: #CCCCCC;
  --color-background-header: rgba(10, 19, 32, 0.9);
  --color-header: #F1F1F1;
  --color-accent: #ff6b00;
  --color-accent-hover: #ff8833;
  --color-button: #ff6b00;
  --color-button-hover: #d25500;
  --color-text-button-hover: #ffffff;
  --box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}